<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductServiceHttpBinding" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="PackServiceHttpBinding" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="CommonNameGroupServiceHttpBinding" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="UcdServiceHttpBinding" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="DrugPrescriptionAnalysisServiceHttpBinding" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8011/merlin-service/services/ProductService"
                binding="basicHttpBinding" bindingConfiguration="ProductServiceHttpBinding"
                contract="VidalProductService.productService" name="ProductServiceHttpPort" />
            <endpoint address="http://localhost:8011/merlin-service/services/PackService"
                binding="basicHttpBinding" bindingConfiguration="PackServiceHttpBinding"
                contract="VidalPackService.packService" name="PackServiceHttpPort" />
            <endpoint address="http://localhost:8011/merlin-service/services/CommonNameGroupService"
                binding="basicHttpBinding" bindingConfiguration="CommonNameGroupServiceHttpBinding"
                contract="VidalCNGService.commonNameGroupService" name="CommonNameGroupServiceHttpPort" />
            <endpoint address="http://localhost:8011/merlin-service/services/UcdService"
                binding="basicHttpBinding" bindingConfiguration="UcdServiceHttpBinding"
                contract="VidalUcdService.ucdService" name="UcdServiceHttpPort" />
            <endpoint address="http://localhost:8011/merlin-service/services/DrugPrescriptionAnalysisService"
                binding="basicHttpBinding" bindingConfiguration="DrugPrescriptionAnalysisServiceHttpBinding"
                contract="PrescriptionServiceReference.drugPrescriptionAnalysisService"
                name="DrugPrescriptionAnalysisServiceHttpPort" />
        </client>
    </system.serviceModel>
</configuration>